<form class="login-form">
   <section class="card">    
      <div class="card_title" style="color: white">Login </div> 
        <div class="card_detail">
          </br>
          <label for="username-login">User Name:</label>
          <input type="text" id="username-login" />
        </div> 
      <div class="card_detail">
         </br>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
        </br></br>     </br> 
        <button type="submit" class="btn_full" id="btn_submit">Login</button>
        </br>     </br> 
        <label id="btn_type">Sign up instead</label>
        </br>     </br> 
      </div> 
  </section>
  

</form>


<script src="/javascript/login.js"></script>