* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}
header {
  border-bottom: 1px solid #ccc;
  padding: 2%;
  background-color: #321a08;
  color: white;
}
.H_link  {
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgb(223, 248, 235);
  display: inline;
  font-size: 25px;
  text-decoration: none;

}
#header_title{
  padding: 2%;
  width: 350px;
  background-color: rgb(223, 248, 235);
  box-shadow: 2px 5px #888888;
  font-size: larger;
  text-align: center;  
  font-weight: bold;
  
  border-radius: 10px;
}

.h_container{
  width:450px; 
  display: flex;
  justify-content: space-between;

}

.card_title{
  background-color: #321a08;
  padding: 2%;
  font-size: large;
  width: 100%;
}
.card_content, .comment_body{
   width: 100%;
   font-size: large;
   height: 50px;
}
.title{
  font-size: large;
  display:inline-flex;
  width:70%;
}
.info{
  display: inline;
  justify-content: end;
  font-size: small;
}
.post,.comment-form,.new-post-form,.login-form{
  
  padding-right: 5%;
  padding-left: 5%;
}
.card{
  border-style: solid;
  background-color:  rgb(223, 248, 235);
}
.card_detail{
  
  padding-right: 2%;
  padding-left: 2%;
}

a,#btn_type{
  color:green;
}
.edit-post-form{
  padding: 5%;
}
.btn_full{
  width:100%;
  background-color: #888888;
  color:white;
  padding: 1%;
  font-size: medium;
}
.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}